.container {
    background-color: aliceblue;
}

.header {
    height: 50px;
    width: 100%;
    border: 1px solid white;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("download.jpeg");
    background-size: cover;
    height: 40px;
    width: 100%;
    padding: 5px;
    margin-left: 50px;
    border-radius: 50px;
}

.name {
    font-size: 35px;
    font-style: italic;
    text-shadow: 2px 2px 5px violet;
    align-items: center;
    text-align: center;
    padding: 45px;
    margin: 50px;


}

/* About section*/

.About {
    height: 300px;
    width: 100%;
    border: 1px solid white;
    background-color: white;
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.h1 {
    font-style: oblique;
    font-size: large;
    line-height: 3rem;
}

/* Skills Section*/

.skills{
    height: 300px;
    width: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.names{
    font-style: initial;
    list-style-type: disc;
    line-height: 2rem;
   font-size: large;

}

/*project section*/

.projects{
    height: 400px;
    width: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.types{
    line-height: 2rem;
    font-style: initial;
}
/*Resume*/

.resume{
    height: 50px;
    width: 100%;
    border: 1px solid white;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*Contact-section*/

.contact{
    height: 50px;
    width: 100%;
    border: 1px solid white;
   background-color: #222f3d;
   justify-content: space-evenly;
   display: flex;
}
.email{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.number{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.email p{
    padding-left: 3px;
}
.number p{
    padding-left: 3px;
}

.copy{
    height: 110px;
    width: 100%;
    border: 1px solid white;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}